<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Veterinaria</title>
    </head>
    <body>

        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-success btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCliente">
                            <i class="fas fa-plus"></i> [[#{cliente.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar producto, es la ventana modal -->
        <section th:fragment="agregarCliente">
            <div id="agregarCliente" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-black text-white">
                            <h5 class="modal-title">[[#{cliente.agregar}]]</h5>
                            <button type="button" 
                                    class="btn-close" 
                                    data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/cliente/guardar}" th:object="${cliente}"
                              method="POST" class="was-validated"
                              enctype="multipart/form-data">
                            <input type="hidden" name="nuevaImagen" value="NO"/>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">[[#{cliente.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="identificacion">[[#{cliente.identificacion}]]</label>                                    
                                    <input type="text" class="form-control" name="identificacion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono">[[#{cliente.telefono}]]</label>                                    
                                    <input type="text" class="form-control" name="telefono" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="correo">[[#{cliente.correo}]]</label>                                    
                                    <input type="text" class="form-control" name="correo" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{cliente.precio}]]</label>                                    
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{paciente.activo}]]</label>
                                    <input class="form-check-input" 
                                           type="checkbox" 
                                           name="activo" 
                                           id="activo">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad paciente -->
        <section th:fragment="listaClientes" id="clientes">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{cliente.lista}]]</h4></div>
                            <div th:if="${clientes != null and !clientes.empty}" >
                                <table class="table table-striped table-hover fs-6">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th class="text-center">[[#{cliente.nombre}]]</th>
                                            <th class="text-center">[[#{cliente.identificacion}]]</th>
                                            <th class="text-center">[[#{cliente.telefono}]]</th>
                                            <th class="text-center">[[#{cliente.correo}]]</th>
                                            <th class="text-center">[[#{cliente.precio}]]</th>
                                            <th></th><th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cliente, contador : ${clientes}">​
                                            <td class="text-center">[[${contador.count}]]</td>​
                                            <td class="fs-6">[[${cliente.nombre}]]</td>​
                                            <td class="fs-6">[[${cliente.identificacion}]]</td>​
                                            <td class="fs-6">[[${cliente.telefono}]]</td>​
                                            <td class="fs-6">[[${cliente.correo}]]</td>​
                                            <td class="text-end">[[${#numbers.formatDecimal(cliente.precio, 1, 'DEFAULT', 2, 'DEFAULT')}]]</td>
                                            <td><a th:href="@{/cliente/eliminar/}+${cliente.idCliente}"
                                                   class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a></td>
                                            <td>
                                                <a th:href="@{/cliente/modificar/}+${cliente.idCliente}"
                                                   class="btn btn-success" sec:authorize="hasRole('ROLE_ADMIN')">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${clientes == null or clientes.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarCliente">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/cliente/guardar}" th:object="${cliente}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <input type="hidden" name="nuevaImagen" value="NO"/>
                        <section th:replace="~{cliente/elementos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{cliente.nombre}]]</label>                                    
                                                    <input type="text" class="form-control" 
                                                           th:field="*{nombre}" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="identificacion">[[#{cliente.identificacion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           th:field="*{identificacion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="telefono">[[#{cliente.telefono}]]</label>                                    
                                                    <textarea class="form-control" 
                                                              th:field="*{telefono}" rows="3"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="correo">[[#{cliente.correo}]]</label>                                    
                                                    <textarea class="form-control" 
                                                              th:field="*{correo}" rows="3"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">[[#{correo.precio}]]</label>                                    
                                                    <input type="number" class="form-control" 
                                                           th:field="*{precio}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="activo">[[#{paciente.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           th:field="*{activo}" 
                                                           id="activo">
                                                </div>                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/cliente/lista}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/cliente/eliminar/}+${cliente.idCliente}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>